# Ignorar archivos virtuales de Google Drive
*.gdoc
*.gsheet
*.gslides

# Ignorar datasets y modelos pesados
PatchTST_supervised/dataset/
PatchTST_supervised/scripts/PatchTST/dataset/
PatchTST_supervised/checkpoints/

# Ignorar logs y resultados generados
PatchTST_supervised/logs/
PatchTST_supervised/results/
PatchTST_supervised/test_results/
PatchTST_supervised/result.txt

# Ignorar cachés de Python
__pycache__/
*.pyc
